@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");
body {
  font-family: "Cardo", serif;
}

body {
  min-width: 350px;
}

.hero-home {
  background-image: url("../../Images/loading-screen.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-body {
  padding: 0;
}
.hero-body .btn-haut-page {
  display: none;
}

.contenu-hero {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 75px;
  max-width: 100%;
}

.logoPngHome {
  width: 72%;
  margin: auto;
  border: 3px solid #98792C;
  background-color: #151716;
}

.title-angeluzzo-home {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #d7d7d7;
}

.title-restaurant-home {
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  margin-bottom: 8px;
  color: #A6A7A9;
  font-family: "Roboto", sans-serif;
}

.spinner-load {
  margin: auto;
  color: #d7d7d7;
}

.description-angel01 {
  background-color: #ffffffd6;
  width: 100%;
  margin-top: 20px;
}
.description-angel01 p {
  padding: 7px 3%;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 1px;
  color: #444;
}

.description-angel02 {
  background-color: #151716;
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 2px 8px #d7d7d7;
}
.description-angel02 p {
  padding: 7px 3%;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #BF9732;
}

.logos-reseaux {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.logos-reseaux img {
  width: 15%;
  margin: auto;
  max-width: 70px;
}
.logos-reseaux .logo-facebook {
  border-radius: 18px;
  margin-left: 8px;
}
.logos-reseaux .logo-insta {
  border-radius: 18px;
  margin-right: 8px;
}

.icon-scroll, .icon-scroll02 {
  display: none;
}

@media screen and (min-width: 350px) {
  .title-angeluzzo-home {
    font-size: 2em;
  }

  .title-restaurant-home {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 400px) {
  .title-angeluzzo-home {
    font-size: 2.3em;
  }

  .title-restaurant-home {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 450px) {
  .title-angeluzzo-home {
    font-size: 2.5em;
  }

  .title-restaurant-home {
    font-size: 2em;
  }
}
@media screen and (min-width: 500px) {
  .logoPngHome {
    width: 70%;
  }

  .title-angeluzzo-home {
    font-size: 2.5em;
  }

  .title-restaurant-home {
    font-size: 2em;
  }
}
@media screen and (min-width: 560px) {
  .logoPngHome {
    width: 60%;
  }
}
@media screen and (min-width: 640px) {
  .logoPngHome {
    width: 50%;
  }

  .title-angeluzzo-home {
    font-size: 2.9em;
  }

  .title-restaurant-home {
    font-size: 2.3em;
  }

  .hero-body .btn-haut-page {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 25px;
    width: 80px;
    height: 80px;
    z-index: 10;
    background-color: #98792C !important;
  }
  .hero-body .btn-haut-page i {
    font-size: 50px !important;
  }
}
@media screen and (min-width: 730px) {
  .logoPngHome {
    width: 45%;
  }

  .title-angeluzzo-home {
    font-size: 3em;
  }

  .title-restaurant-home {
    font-size: 2.5em;
    margin-bottom: 8px;
  }

  .contenu-hero {
    margin-top: 25px;
  }
}
@media screen and (min-width: 820px) {
  .logoPngHome {
    width: 36%;
  }

  .title-angeluzzo-home {
    font-size: 2.5em;
  }

  .title-restaurant-home {
    font-size: 2.1em;
  }
}
@media screen and (min-width: 1014px) {
  .icon-scroll, .icon-scroll02 {
    display: block;
  }

  .icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 18%;
  }

  .icon-scroll02,
.icon-scroll02:before {
    position: absolute;
    left: 78%;
  }

  .icon-scroll {
    width: 40px;
    height: 70px;
    top: 25%;
    box-shadow: inset 0 0 0 4px #fff;
    border-radius: 25px;
  }

  .icon-scroll02 {
    width: 40px;
    height: 70px;
    top: 25%;
    box-shadow: inset 0 0 0 4px #fff;
    border-radius: 25px;
  }

  .icon-scroll:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: 9px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  .icon-scroll02:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -14px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(46px);
    }
  }
}
@media screen and (min-width: 1130px) {
  .logoPngHome {
    width: 32%;
  }
  .logoPngHome .title-angeluzzo-home {
    font-size: 3em;
  }
  .logoPngHome .title-restaurant-home {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 1215px) {
  .logoPngHome {
    width: 25%;
  }

  .title-angeluzzo-home {
    font-size: 2.5em !important;
  }

  .title-restaurant-home {
    font-size: 2em !important;
  }

  .hero-body .btn-haut-page {
    width: 85px !important;
    height: 85px !important;
  }
}
@media screen and (min-width: 1250px) {
  .logoPngHome {
    width: 19%;
  }

  .title-angeluzzo-home {
    font-size: 2em !important;
  }

  .title-restaurant-home {
    font-size: 1.6em !important;
  }
}
@media screen and (min-width: 1380px) {
  .title-angeluzzo-home {
    font-size: 2.2em !important;
  }

  .title-restaurant-home {
    font-size: 1.8m !important;
  }
}
@media screen and (min-width: 1450px) {
  .title-angeluzzo-home {
    font-size: 2.4em !important;
  }

  .title-restaurant-home {
    font-size: 2m !important;
  }
}
@media screen and (min-height: 1000px) {
  .logoPngHome {
    margin-bottom: 5%;
  }

  .description-angel01 {
    margin-bottom: 3%;
  }

  .description-angel02 {
    margin-bottom: 3%;
  }

  .logos-reseaux .logo-insta {
    margin-right: auto !important;
  }

  .logos-reseaux .logo-facebook {
    margin-left: auto !important;
  }
}
@media screen and (min-height: 1100px) {
  .logoPngHome {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 560px) {
  .description-angel01 p {
    font-size: 1.6em;
  }

  .description-angel02 p {
    font-size: 1.7em;
  }

  .logos-reseaux .logo-facebook {
    margin-left: 20px;
  }

  .logos-reseaux .logo-insta {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .description-angel01 p {
    font-size: 1.8em;
  }

  .description-angel02 p {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 1250px) {
  .btn-carte .lien-carte:before {
    width: 94%;
    background: #98792c;
  }
  .btn-carte .lien-carte svg {
    transform: translateX(0);
  }
  .btn-carte .lien-carte:active {
    transform: scale(0.96);
  }
}

/*# sourceMappingURL=homePage.css.map */
