@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");
body {
  font-family: "Cardo", serif;
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 30px;
  background-color: #151716;
  position: fixed;
  z-index: 1;
  border-radius: 0 0 48px 0;
}
.sidebar:hover {
  cursor: pointer;
}

.icon-menu {
  width: 37px;
}

.menu-sidebar {
  padding: 1em;
  padding-bottom: 2.2em;
}
.menu-sidebar .menu {
  font-size: 1.5em;
}
.menu-sidebar .menu .menu-list {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.menu-sidebar .menu .menu-list li a span {
  color: #d7d7d7;
}

.logo-sidebar {
  width: 60%;
  margin: auto;
  display: block;
  cursor: pointer;
}

.sidebar-background {
  background-color: rgba(28, 28, 28, 0.73) !important;
}

.sidebar-content {
  background-image: url("../../Images/sidebar-font.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 1px 0 13px #A6A7A9 !important;
}

.sidebar-title {
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
  color: #98792C;
}

.hr-sidebar {
  width: 50%;
  margin: 15px auto;
  height: 1px;
  background-color: #d7d7d7 !important;
}

.menu-list a {
  transition: 0.5s;
}

.menu-list a:hover {
  background-color: transparent !important;
}

.menu-list a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 35px;
  background: #98792C;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  margin-top: 37px;
}

.menu-list a:hover::after {
  transform: scaleX(0.7);
  transform-origin: left;
}

.menu-list a.is-active {
  background-color: transparent !important;
}

a {
  text-decoration: none !important;
  color: #f0f0f0 !important;
}
a:hover {
  color: #f0f0f0 !important;
}

.lien-carte {
  position: relative;
  margin: auto;
  padding: 19px 23px;
  transition: all 0.2s ease;
}
.lien-carte:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: block;
  border-radius: 28px;
  background: rgba(152, 121, 44, 0.58);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.lien-carte span {
  position: relative;
  font-size: 1.5em;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.18em;
  vertical-align: middle;
}
.lien-carte svg {
  position: relative;
  top: 10px;
  margin-left: 10px;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 1;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.lien-carte:hover:before {
  width: 94%;
  background: #98792c;
}
.lien-carte:hover svg {
  transform: translateX(0);
}
.lien-carte:hover:active {
  transform: scale(0.96);
}

/*# sourceMappingURL=sidebar.css.map */
