@import "variables.scss";
@import "mixins.scss";
@import 'mediaActualites.scss';

.actualites {
    background-image: $fond-site-portrait;
    @include background;
    // filtre noir pour assombrir l'image de background
    .filter-black {
        background-color: #000c;
        padding: 10px;
        padding-bottom: 35px;
    }
}



.title-actualites {
    color: $white02;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .hr-title {
        width: 70px;
        background-color: $color-gold;
    }
    
    .hr-actu01 {
        margin-right: 2%;
    }
    .hr-actu02 {
        margin-left: 2%;
    }
}

.div-carousel-actualites {
    .carousel-items {
        background-color: #403f3fb5;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        height: 560px;
        margin: auto;
        margin-top: 35px;
        .title-covid, .title-emporter {
            color: $white01;
            font-size: 1.4em;
            margin-left: 10px;
            letter-spacing: 1px;
        }

        .hr-covid, .hr-emporter {
            background-color: $color-gold;
            width: 240px;
            margin-left: 15%;
            margin-top: 3px;
        }

        .title-emporter-nouveau {
            font-size: 1.8em;
            color: $white01;
            text-align: center;
        }

        .div-covid {
            margin: 10px;
            margin-top: 15px;
            color: $white01;
            // overflow en hidden obligatoire pour éviter que les deux div ne se chevauchent
            overflow: hidden;
            .text-covid {
                font-size: 1.1em;
                letter-spacing: 1px;
                white-space: break-spaces;
            }
            .text01 {
                text-align: end;
            }
            .text02 {
                text-align: start;
            }
        }

        .div-emporter01 {
            margin: 10px;
            margin-top: 20px;
            color: $white01;
            overflow: hidden;
            .text-emporter {
                font-size: 1.1em;
                letter-spacing: 1px;
                white-space: break-spaces;
                text-align: start;
            }
        }

        .div-emporter-remise {
            color: $white01;
            font-size: 1.4em;
            border: 3px solid $color-gold;
            text-align: center;
            padding: 5px;
            font-weight: bold;
            border-radius: 5px;
        }

        .div-emporter02 {
            color: $white01;
            margin: 10px;
            margin-top: 20px;
            .text-commande {
                font-size: 1.1em;
                letter-spacing: 1px;
                white-space: break-spaces;
            }
        }

        .hr-fin {
            background-color: $color-gold;
            width: 45%;
            margin: 14px auto;
        }

        .div-emporter03 {
            color: $white01;
            margin: 10px;
            margin-top: 20px;
            .text-thionville {
                font-size: 1em;
                letter-spacing: 1px;
                white-space: break-spaces;
                text-align: end;
            }
        }

        .infos02 {
            margin-top: 25px;
        }

        .image-covid-masque {
            float: left;
            width: 37%;
            border-radius: 5px;
            margin-right: 10px;
            margin-bottom: 15px;
            max-width: 198px;
        }

        .image-covid-gel {
            float: right;
            width: 50%;
            border-radius: 5px;
            margin-left: 10px;
            margin-top: 15px;
            margin-bottom: 5px;
            max-width: 265px;
        }

        .image-logo-angel {
            float: right;
            width: 40%;
            border-radius: 5px;
            max-width: 125px;
        }

    }
}


.plat {
    width: 30%;
}