@import "variables.scss";
@import "mixins.scss";
@import "mediaAvis.scss";

.lesAvis {
    display: flex;
    background-color: #f7f7f7;
    .div-carousel-avis {
        .carousel-arrow .icon {
            color: $white01;
            background: $color-gold;
            border: none;
        }
        .carousel .carousel-indicator {
            padding-bottom: 25px;
            .indicator-item.is-active .indicator-style, .carousel .carousel-indicator .indicator-item .indicator-style:hover {
                background: $color-gold;
            }
            .indicator-item .indicator-style {
                border-color: $color-gold;
            }
        }
        .carousel-items {
            height: 615px;
            width: 100vw;
            min-width: 350px;
        }
        .carte-avis {
            margin: auto;
            padding: 20px;
            background-color: transparent;
            .couverts-icon {
                position: absolute;
                width: 133px;
                right: 30px;
                margin-top: 5px;
                filter: opacity(45%);
            }
            .title-avis {
                font-family: $arvo-family;
                color: $black03;
                padding-left: 30px;

            }
            .title-commentaire {
                font-family: $josefin-family;
                font-weight: 700;
                padding-left: 30px;
                text-transform: uppercase;
            }
            .text-avis {
                font-family: $josefin-family;
                font-weight: 300;
                font-size: 1.35em;
                color: $secondary-black;
                font-style: italic;
                text-align: center;
                padding: 20px 48px 20px 48px;
                line-height: 1.3em;
            }
            .date-avis {
                padding-right: 55px;
                margin-bottom: 20px;
                span {
                    float: right;
                    font-family: $josefin-family;
                    font-weight: 700;
                    font-size: 1.6em;
                    color: $primary-black;
                }
            }
        }
    }
}